body {
    font-family: "Courier New",monospace;
    background-color: white;
    padding-left: 8%;
    padding-right: 8%;
    color: black;
    width: 80%;
    padding-bottom: 5%;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    text-decoration: underline;
}

p {
    line-height: 2em;
    word-spacing: 0.1em;
    text-align: justify;
}


a:link {
    font-weight: bold;
    color: #3A3332;
}

a:visited {
    font-weight: normal;
    color: #3A3332;
}

#header h1 {
    text-align: left;
    margin-bottom: 1%;
    text-decoration: none;
}

#header {
    margin-bottom: 150px;
}

#posts {
    margin-bottom: 100px;
    width: 50%;
    line-height: 1.5em;
}

#about_me {
    margin-top: 100px;
    line-height: 1.5em;
}


li {
    display: inline;
    text-align: center;
}

h1 a {
    text-decoration: none;
}

blockquote {
    padding: 50px;
}

